= simple_form_for(@book) do |f|
  = f.error_notification

  .form-inputs
    = f.input :autor
    = f.input :pealkiri
    = f.input :zanr
    = "kuulub kasutajale #{current_user}"

  .form-actions
    = f.button :submit
